{% extends 'base.html' %}

{% block content %}

<h2>blazing fast search function</h2>
<p>over a million faker-generated gibberishposts, here for the searching. watch how fast you get results. that's the power of RUM indexes, baby</p>
<p>they're sorted by relevancy, if you're curious, and then alphabetically by username because i hate inconsistency</p>
<form action="{{ url_for('search') }}" method="get">
    <input type="text" name="q" placeholder="whatcha lookin for?" required>
    <button type="submit">search</button>
</form>

{% if query %}
    {% if messages %}
        <div>
            <h3>Search Results</h3>
            {% for message in messages %}
                <p>"{{ message.highlighted_text | safe }}"</p>
                <p style="margin-left: 20px;">-- {{ message.name }} on {{ message.created_at.strftime('%m/%d at %-I:%M %p') }}</p>
            {% endfor %}
        </div>
        {% if page > 1 %}
            <a href="{{ url_for('search', q=query, page=page-1) }}">Previous</a>
        {% endif %}
        <a href="{{ url_for('search', q=query, page=page+1) }}">Next</a>
    {% else %}
        <p>that didn't match any posts, so either you can't spell or i can't program. and i know i know how to program.</p>
    {% endif %}
{% endif %}
{% endblock %}
